/*make parent element a flex container*/
ul {
    display: flex; /*or inline flex*/
    /*flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;*/
    list-style-type: none;
    align-items: center; /* doesn't work because elements are on main axis
    align-content: flex-start;*/
    flex-direction: column;
}

    /* where ul represents a flex container
    ul {
        flex-direction: row || column || row-reverse || column-reverse; 
} */

/*where ul represents a flex container
ul {
  flex-wrap: wrap || nowrap || wrap-reverse;
  }*/

 /* ul {
    flex-flow: row wrap;  "row": flex-direction, wrap: flex-wrap, shorthand property*/


li {
    flex-basis: 100 px;
    width: 200px;
    height: 50px;
    background-color: #8cacea;
    margin: 2em;
    flex: 1; /*flex-grow flex shrink flex basis*/
    border: 2px solid purple;

}
/*this is an absolute flex item
li {
  flex: 1 1; /*flex-basis defaults to 0
}
  this is a relative flex item
li {
  flex-basis: 200px; /*only flex-basis is set
} */

li:first-of-type {
    align-self: stretch;
}

li:nth-child(1) {
    order: 3;
    margin-right: auto;
    margin-left: auto;
}

li:nth-child(2) {
    order: 4;
   
}

li:nth-child(3) {
    order: 1;
}

li:nth-child(4) {
    order: 2;
}

